.App {
   text-align: center;
   font-size:larger;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: black;
}

body{
    background-color:bisque;
}

.form-label{
    margin-right: 10px;
    
}
form.container{
    margin-top: 50px;
    background-color: cadetblue;
    width: 100%;
    border-radius: 30px;
    height: auto
}
#exampleInputEmail1{
    margin-top: 50px;
}

#exampleCheck1{
    margin-right: 10px;
}

#btn {
    margin-bottom: 50px;
}